$colorSgrey: #757575;
$colorGreen: #7EB693;
$colorBlack: #000000;

.header {
display: flex;
margin: 0 auto;
padding: 35px;


&_logo {
margin-left: 55px;
width: 300px;
height: 80px;
}
&_nav {
margin-left: 65px;
width: 65vw;

&_list {
display: flex;
padding: 15px;
justify-content: space-around;
list-style: none;

&_item {
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: $colorBlack;
text-decoration: none;
}
&_item:hover {
color: $colorSgrey;
}
}
}
}