$colorBlack: #000000;
$colorSgrey: #757575;
$colorCyan: #C3DCE3;
$colorGrBlue: #2B788B;
$colorPink: #945069;
.table{

    display: flex;
    width: 90vw;
    margin: 0 auto;
   
    &_word{

        width: 150px;
        height: 55px;
        margin: 10px 10px;
        border-radius: 15px;
        border: 3px solid  $colorCyan;
        text-align: center;

    }
    &_tr{
        width: 150px;
        height: 55px;
        margin: 10px 10px;
        border-radius: 15px;
        border: 3px solid  $colorCyan;
        text-align: center;
    }
    &_th{
        width: 150px;
        height: 55px;
        margin: 10px 10px;
       
        border-radius: 15px;
        border: 3px solid  $colorCyan;
        text-align: center;
    }
    &_button{
        width: 150px;
        height: 60px;
        margin: 10px 10px;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $colorGrBlue;
        background-color: $colorCyan ;
        border-color: $colorCyan;
        border-radius: 15px;
    }
}
.table_word.error{
    border-color: $colorPink;
}