$colorBlack: #000000;
$colorSgrey: #757575;
$colorCyan: #C3DCE3;
$colorGrBlue: #2B788B;
.wordList{
    &_description{
    display: flex;
    margin-left: 55px;
    padding: 10px;
    }
    &_titleNewWords{
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 5px;
        color: $colorBlack;
        text-decoration: none;
    }
    &_input{
        width: 150px;
        height: 55px;
        margin: 10px 10px;
        border-radius: 15px;
        border: 3px solid  $colorCyan;
        text-align: center;
    
    }
    &_button{
        width: 150px;
        height: 60px;
        margin: 10px 10px;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $colorGrBlue;
        background-color: $colorCyan ;
        border-color: $colorCyan;
        border-radius: 15px;
    }
    &_imgtable{
        width: 30vw;
        margin: 0 auto;
    }
    &_titleWordList{
        margin-left: 60px;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 5px;
        color: $colorBlack;
        text-decoration: none;

    }
}
