$colorBlack: #000000;
$colorSgrey: #757575;
$colorCyan: #C3DCE3;
$colorGrBlue: #2B788B;
.slider{
    display:  flex;
    margin-top: 20px;
    padding: 50px;

&_cards{
    display:  flex;
    flex-wrap: wrap;
    width: 60vw;


}
    &_button{
        width: 170px;
        height: 64px;
        margin-top: 150px;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $colorGrBlue;
        background-color: $colorCyan ;
        border-color: $colorCyan;
        border-radius: 15px;

        

    }
    &_imgslider img{
        width: 40vw;
      
    }
}